@font-face{
    font-family: "Open Sans";
    src : url("font/OpenSans-Regular.ttf");
}

@font-face{
    font-family: "Open Sans";
    src : url("font/OpenSans-SemiBold.ttf");
    font-weight: 500;
}

@font-face{
    font-family: "Open Sans";
    src : url("font/OpenSans-Bold.ttf");
    font-weight: 700;
}
