// COLORS
$text:  #4c4c4c;
$text-s: #7d9da7;
$main: #1d5c6f;
$main-s: #f5e266;
$background: #f8f8f8;;
$border: #f5f5f5;
$text-light: #96b1b9;
$wh: #ffffff;
$bg-light-gray: #f0f0f0;
$preloader:  #e7e7e7;

// FONTS
$font: 'Open Sans', sans-serif;
